/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
                        Css variables
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

:root {
    /*
    dt: dark theme
    lt: light theme
    v: very
    l: light
    g: grayish
    d: dark
    ds: desaturated
    hv: hover
    */

    /* other colors */
    --clr-blue: hsl(224, 100%, 65%);

    /* light theme colors */
    --clr-lt-vl-gray: hsl(0, 0%, 98%);
    --clr-lt-vlg-blue: hsl(236, 33%, 92%);
    --clr-lt-lg-blue: hsl(233, 11%, 84%);
    --clr-lt-dg-blue: hsl(236, 9%, 61%);
    --clr-lt-vdg-blue: hsl(235, 19%, 35%);

    /* dark theme colors */
    --clr-dt-vd-blue: hsl(235, 21%, 11%);
    --clr-dt-vd-ds-blue: hsl(235, 24%, 19%);
    --clr-dt-lg-blue: hsl(234, 39%, 85%);
    --clr-dt-lg-hv-blue: hsl(236, 33%, 92%);
    --clr-dt-dg-blue: hsl(234, 11%, 52%);
    --clr-dt-vdg-blue: hsl(233, 14%, 35%);
    --clr-dt-vdg-blue2: hsl(237, 14%, 26%);

    /* font-family */
    --ff: 'Josefin Sans', sans-serif;

    /* make base font size 16px */
    font-size: 62.5%;

    /* default font size */
    --fs: 1.8rem;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
                    Utility Classes
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

.bold {
    font-weight: 700;
}

/* overwrite bootstrap border */
.border-radius {
    border-radius: 5px !important;
}

.not-finished {
    color: var(--clr-dt-lg-hv-blue);
}

.instructions {
    color: var(--clr-dt-dg-blue);
}

.menu-item:hover {
    color: var(--clr-dt-lg-hv-blue);
}

.menu-item.active {
    color: var(--clr-blue);
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
                    Base Styling
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

body {
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: 400;
}

input {
    font: inherit;
    margin: 0;
    padding-left: .5rem;
    border: none;
}

.container-fluid {
    max-width: 650px;
}

.bg {
    position: fixed;
    inset: 0;
    z-index: -9999;
    background: no-repeat top/100% url("../images/bg-mobile-dark.jpg"), var(--clr-dt-vd-blue);
}

header {
    padding-block: 2rem 1rem;
}

h1 {
    font-size: calc(var(--fs) * 1.5);
    letter-spacing: 1.1rem;
}

.btn-theme {
    width: calc(var(--fs) * 1.5);
    height: calc(var(--fs) * 1.5);
    background: center no-repeat url('../images/icon-sun.svg');
}

p {
    margin: 0;
}

.todo-input {
    background-color: var(--clr-dt-hv-blue);
    border: none;
    outline:none;
    color: var(--clr-dt-lg-blue);
    width: 100%;
}

.list-group {
    overflow: hidden;
}

.list-group.shadow {
    box-shadow: 0 1rem 3rem 0 var(--clr-lt-vlg-blue);
}

.list-group .list-group-item {
    border-bottom: 1px solid var(--clr-dt-vdg-blue2) !important;
}

.list-group-item, 
.list-status-item {
    height: calc(var(--fs) * 2.8);
    color: var(--clr-dt-dg-blue);
    background-color: var(--clr-dt-vd-ds-blue);
    user-select: none;
}

.btn-theme,
.todo-text,
.list-group-item .check-container,
.list-group-item [alt="check"],
.list-status-item .menu-item {
    cursor: pointer;
}

.todo-text {
    color: var(--clr-dt-lg-blue);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.todo-text:hover {
    color: var(--clr-dt-lg-hv-blue);
}

.check-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 2.2rem;
    height: 2.2rem;
    background-color: var(--clr-dt-vd-ds-blue);
    border: 1px solid var(--clr-dt-vdg-blue);
    border-radius: 50%;
    cursor: pointer;
    z-index: 0;
}

.check-container:hover {
    border: none;
    background: linear-gradient(0deg, rgb(169, 78, 255), rgb(19, 239, 255));
}

.check-container > img {
    display: none;
}

.check-container::after {
    content: '';
    position: absolute;
    inset: 0.2rem;
    border-radius: 50%;
    background-color: var(--clr-dt-vd-ds-blue);
    cursor: pointer;
    z-index: 100;
}

.checked .check-container {
    background: linear-gradient(0deg, rgb(169, 78, 255), rgb(19, 239, 255));
}

.checked .check-container::after {
    background: none;
}

.checked img {
    display: block !important;
    z-index: 9999;
}

.checked .todo-text {
    text-decoration:line-through;
    color: var(--clr-dt-vdg-blue);
}

.list-group-item:hover .cross-icon {
    opacity: 1;
}

.cross-icon {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}


.filter-menu-desktop {
    display: none;
}

.filter-menu-mobile {
    display: flex;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
                    Light Theme Styling
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

.light-theme .btn-theme {
    background: center no-repeat url('../images/icon-moon.svg');
}

.light-theme .bg {
    background: no-repeat top/100% url("../images/bg-mobile-light.jpg"), var(--clr-lt-vl-gray);
}

.light-theme .todo-input::placeholder {
    color: var(--clr-lt-dg-blue);
}

.light-theme .check-container {
    background-color: var(--clr-lt-vl-gray);
    border-color: var(--clr-lt-vlg-blue);
}

.light-theme .check-container::after {
    background-color: var(--clr-lt-vl-gray);
}

.light-theme .list-group-item,
.light-theme .list-status-item {
    background-color: var(--clr-lt-vl-gray);
}

.light-theme .menu-item {
    color: var(--clr-lt-dg-blue);
}

.light-theme .menu-item.active {
    color: var(--clr-blue);
}

.light-theme .menu-item:hover {
    color: var(--clr-lt-vdg-blue);
}

.light-theme .todo-text,
.light-theme .todo-input {
    color: var(--clr-lt-vdg-blue);
}

.light-theme .list-group .list-group-item {
    border-bottom: 1px solid var(--clr-lt-vlg-blue) !important;
}

.light-theme .not-finished {
    color: var(--clr-lt-vdg-blue);
}

.light-theme .instructions {
    color: var(--clr-lt-dg-blue);
}

.light-theme .checked .check-container::after {
    background: none;
}

.light-theme .checked .todo-text {
    color: var(--clr-lt-lg-blue);
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
                    Media Queries
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/


@media screen and (min-width: 680px) {
    .bg {
        background: no-repeat top/100% url("../images/bg-desktop-dark.jpg"), var(--clr-dt-vd-blue);
    }

    .light-theme .bg {
        background: no-repeat top/100% url("../images/bg-desktop-light.jpg"), var(--clr-lt-vl-gray);
    }

    .filter-menu-desktop {
        display: flex;
    }
    
    .filter-menu-mobile {
        display: none;
    }
}