/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
                        Css variables
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

:root {
    /*
    dt: dark theme
    lt: light theme
    v: very
    l: light
    g: grayish
    d: dark
    ds: desaturated
    hv: hover
    */

    /* light theme colors */
    --clr-lt-vl-gray: hsl(0, 0%, 98%);
    --clr-lt-vlg-blue: hsl(236, 33%, 92%);
    --clr-lt-lg-blue: hsl(233, 11%, 84%);
    --clr-lt-dg-blue: hsl(236, 9%, 61%);
    --clr-lt-vdg-blue: hsl(235, 19%, 35%);

    /* dark theme colors */
    --clr-dt-vd-blue: hsl(235, 21%, 11%);
    --clr-dt-vd-ds-blue: hsl(235, 24%, 19%);
    --clr-dt-lg-blue: hsl(234, 39%, 85%);
    --clr-dt-lg-hv-blue: hsl(236, 33%, 92%);
    --clr-dt-dg-blue: hsl(234, 11%, 52%);
    --clr-dt-vdg-blue: hsl(233, 14%, 35%);
    --clr-dt-vdg-blue2: hsl(237, 14%, 26%);

    /* font-family */
    --ff: 'Josefin Sans', sans-serif;

    /* make base font size 16px */
    font-size: 62.5%;

    /* default font size */
    --fs: 1.8rem;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
                    Utility Classes
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

.bold {
    font-weight: 700;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
                    Base Styling
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

body {
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: 400;
    background: no-repeat top/100% url("../../public/images/bg-mobile-dark.jpg"), var(--clr-dt-vd-blue);
}

h1 {
    font-size: calc(var(--fs) * 1.5);
    letter-spacing: 1.1rem;
}